/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Merriweather|Passion+One');

body {
	background-image: url(https://i.ytimg.com/vi/YXVYYkSc8KU/maxresdefault.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.bus-map { 
	height: 200px;
	width: 200px;
}

.left_page {
	color: white;
	position: fixed;
}

h1 {
	font-family: 'Passion One', cursive;
}

h2 {
	font-family: 'Passion One', cursive;
}

p {
	font-family: 'Merriweather', serif;
}

.strong {
	font-weight: 700;
	text-decoration: underline;
}

th {
	font-family: 'Passion One', cursive;
}

td {
	font-family: 'Merriweather', serif;
}

/*.panel-body {
	background-color: rgba(76, 175, 80, 0.3);
}*/
