<% if notice != nil %>
	<p id="notice"><%= notice %></p>
<% end %>


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1 class="left_page">Is a Bus Nearby?</h1>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>








<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
